{% extends 'index_layout.html' %}



{% block content %}

    <div class="get-started-container" id="get-started-container">
        <div class="gradient-background-1" id="gradient-background-1"></div>
        <div class="box">
            <img class="smartstock-logo-1" src="/static/Icons/smartstock.png">
            <p class="smartstock-text-1">SmartStock</p>
            <p class="description-1">Smart Tracking,<br>Smart Living:</p>
            <p class="description-2">your path to perfectly timed consumption starts here.</p>
            <div class="get-started-button-container">
                <a href="/signup" >
                    <button class="get-started-button" >
                        Get Started
                    </button>
                </a>
            </div>
        </div>

    </div>
{% endblock %}